/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*------------------MY CODE---------------------*/
		body {
		    font-family: catamaran;
		    color:#000;
		    background-color: #f1f1f1;
		}
		nav {
		    text-transform: uppercase;
		}

		
		a {
			color: #ed858e;
			text-decoration: none;
		}

		.navbar {
		    background-color: white;
		    border: none;
			box-shadow: 0 8px 6px -6px;
			border:0;
			margin-bottom: 0;
		
		}

		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		    color: #ed858e; 
		}

		.navbar-brand {
		    font-family: catamaran;
		    font-weight: 900;
		}

		.navbar-default .navbar-nav, .navbar-default .navbar-brand {
		    color: #000;
		}

		.jumbotron {
		    background-color: #ed858e;
		}

		@media only screen and (max-width: 500px) {
	    .masthead-heading {
	        font-size: 3em;
	    }
		}
		@media only screen and (max-width: 500px) {
	    .masthead {
	        padding: 3em 0;
	    }
	    .masthead-heading {
	        font-size: 3em;
	    }
		}

		.masthead-heading,
		.masthead-intro {
		  text-align: center;
		}

		.masthead {
		  padding: 3em 0;
		  background-image: url('img/mac.jpeg');
		  background-size: cover;
		  background-repeat: no-repeat;
		  border-top: solid 1em #ed858e;
		  box-shadow: inset 0 0 15px #000000;
		}

		.masthead-intro {
		  margin-bottom: 0.1em;
		  font-family: catamaran;
		  font-size: 2em;
		}

		.masthead-heading {
		  margin-top: -0.2em;
		  font-family: catamaran;
		  font-weight: 900;
		  font-size: 6em;
		  letter-spacing: -0.02em;
		  text-transform: uppercase;
		  text-shadow: 1px 1px 8px #000;
		}

		.aboutme-section {
		  max-width: 50em;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: 2em;
		  background-color: white;
		  font-size:1em;
		  padding:50px;
		  text-align: justify;
		}

		.aboutme-section h1 {
			font-weight: 700;
			text-align: center;
		}

		.aboutme-section p {
			font-weight: 100;
			font-size: 2rem;
		}

		.me {
			width: 250px;
			height: 250px;
			float: left;
			margin: auto;
			display: block;
		}

		.fam {
			width: 250px;
			height: 250px;
			float: right;
			margin: auto;
			display: block;
		}


		#footer {
			padding:30px;
			margin:auto;
			display: block;
			position:fixed-bottom;
		   left:0px;
		   bottom:0px;
		   height:30px;
		   width:100%;
		}