/*------------------MY CODE---------------------*/
		body {
		    font-family: catamaran;
		    color:#000;
		    background-color: #f1f1f1;
		}
		nav {
		    text-transform: uppercase;
		}

		
		a {
			color: #ed858e;
			text-decoration: none;
		}

		.navbar {
		    background-color: white;
		    border: none;
			box-shadow: 0 8px 6px -6px;
			border:0;
			margin-bottom: 0;
		
		}

		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		    color: #ed858e; 
		}

		.navbar-brand {
		    font-family: catamaran;
		    font-weight: 900;
		}

		.navbar-default .navbar-nav, .navbar-default .navbar-brand {
		    color: #000;
		}

		.active, .btn:hover {
			 background-color: rgba(0, 0, 0, 0.1);
			 color: white;
		}

		.jumbotron {
		    background-color: #ed858e;
		}

		@media only screen and (max-width: 500px) {
	    .masthead-heading {
	        font-size: 3em;
	    }
		}
		@media only screen and (max-width: 500px) {
	    .masthead {
	        padding: 3em 0;
	    }
	    .masthead-heading {
	        font-size: 3em;
	    }
		}

		.masthead-heading,
		.masthead-intro {
		  text-align: center;
		}

		.masthead {
		  padding: 3em 0;
		  background-image: url('img/mac.jpeg');
		  background-size: cover;
		  background-repeat: no-repeat;
		  border-top: solid 1em #ed858e;
		  box-shadow: inset 0 0 15px #000000;
		}

		.masthead-intro {
		  margin-bottom: 0.1em;
		  font-family: catamaran;
		  font-size: 2em;
		}

		.masthead-heading {
		  margin-top: -0.2em;
		  font-family: catamaran;
		  font-weight: 900;
		  font-size: 6em;
		  letter-spacing: -0.02em;
		  text-transform: uppercase;
		  text-shadow: 1px 1px 8px #000;
		}

		.aboutme-section {
		  max-width: 50em;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: 2em;
		  background-color: white;
		  font-size:1em;
		  padding:45px;
		  text-align: justify;
		}

		.aboutme-section h1 {
			font-weight: 700;
			text-align: center;
		}

		.aboutme-section p {
			font-weight: 100;
			font-size: 2rem;
		}

		.effect {
		  position: relative;
		}
		.effect:after
		{
		  z-index: -1;
		  position: absolute;
		  content: "";
		  bottom: 15px;
		  right: 10px;
		  left: auto;
		  width: 50%;
		  top: 80%;
		  max-width:300px;
		  background: #777;
		  -webkit-box-shadow: 0 15px 10px #777;
		  -moz-box-shadow: 0 15px 10px #777;
		  box-shadow: 0 15px 10px #777;
		  -webkit-transform: rotate(3deg);
		  -moz-transform: rotate(3deg);
		  -o-transform: rotate(3deg);
		  -ms-transform: rotate(3deg);
		  transform: rotate(3deg);
		}


		.me {
			width: 250px;
			height: 250px;
			margin: auto;
			display: block;
		}

		.fam {
			width: 250px;
			height: 250px;
			margin: auto;
			display: block;
			float:right;
		}

		.fas {
			color: #bababa;
		}

		#back-to-top-btn {
			position: fixed;
			bottom:20px;
			right:20px;
			font-size: 26px;
			width: 50px;
			height: 50px;
			background-color: #fff;
			cursor: pointer;
			outline: none;
			border: 3px solid #ed858e;
			border-radius: 50%;
			transition-duration: 0.2s;
			transition-timing-function: ease-in-out;
			transition-property: background-color, color;
		}

		#back-to-top-btn:hover, #back-to-top-btn:focus {
			color: #fff;
			background-color: #ed858e;
		}

		@media(max-width: 992px) {
		  .container { padding: 20px 100px; }
		  #back-to-top-btn { font-size: 22px; width: 40px; height: 40px; bottom: 15px; right: 15px; }
		}
		@media(max-width:768px) {
		  body { font-size: 16px; }
		  .container { padding: 10px 50px; }
		  h1 { font-size: 26px; }
		  h2 { font-size: 22px; }
		  hr { margin: 30px 0; }
		  #back-to-top-btn { font-size: 18px; width: 32px; height: 32px; bottom: 6px; right: 6px; }
		}

		/* Animations */
		.btnEntrance {
		  animation-duration: 0.5s;
		  animation-fill-mode: both;
		  animation-name: btnEntrance;
		}
		/* zoomIn */
		/* @keyframes btnEntrance { 
		  from {
		    opacity: 0;
		    transform: scale3d(0.3, 0.3, 0.3);
		  }
		  to {
		    opacity: 1;
		  }    
		} */

		/* fadeInUp */
		@keyframes btnEntrance {
		  from {
		    opacity: 0;
		    transform: translate3d(0, 100%, 0);
		  }
		  to {
		    opacity: 1;
		    transform: translate3d(0, 0, 0);
		  }
		}

		.btnExit {
		  animation-duration: 0.25s;
		  animation-fill-mode: both;  
		  animation-name: btnExit;
		}
		/* zoomOut */
		/* @keyframes btnExit {
		  from {
		    opacity: 1;
		  }
		  to {
		    opacity: 0;
		    transform: scale3d(0.3, 0.3, 0.3);
		  }
		} */

		/* fadeOutDown */
		@keyframes btnExit {
		  from {
		    opacity: 1;
		  }
		  to {
		    opacity: 0;
		    transform: translate3d(0, 100%, 0);
		  }
		}



		#footer {
			padding:30px;
			margin:auto;
			display: block;
			position:fixed-bottom;
		   	left:0px;
		   	bottom:0px;
		   	height:30px;
		   	width:100%;
		}