
/*------------------MY CODE---------------------*/
body {
	font-family: 'Catamaran';
	background-color: #fff;
	/* background-image: url(img/marble.jpg); */
	background-repeat: repeat;
	background-size: cover;
	margin:auto;
}

nav {
    text-transform: uppercase;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color:#ed858e;
	text-decoration: none;
}

html {
	height: 100%;
}
#content {
	text-align:center;
	padding-top:;
	/* text-shadow:0px 4px 3px rgba(0,0,0,0.4), 
				0px 8px 18px rgba(0,0,0,0.1),
				0px 18px 23px rgba(0,0,0,0.1); */
}

h1 {
	font-family:'catamaran';
	font-weight:900;
	font-size:5em;
	color: #fff;
	text-shadow: 0 1px 0 #ccc,
				 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb,
				 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.15);
}

h3 {
	font-size:2rem;
	color: #ed858e;
	font-weight:100;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 5px;
}

h4	{
	font-size:10px;
	color:#000;
}

/* view portfolio button */
.btn-md.round { 
	border-color:white;
	border-radius: 40px;
	color:#fff;
	font-weight:700;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #ccc,
				 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb,
				 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.15);
}

.btn-default {
    color: #000;
	background-color: white;
	opacity: 0.7;
    border-color: none; /*set the color you want here*/
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #ed858e;
    background-color: #fff;
    border-color: none; /*set the color you want here*/
}

.latestprojects {
	height:40%;
	width:40%;
	padding:0px;
	margin:0px;
	font-size: 3rem; font-weight:900;
	color: #fff;
	text-shadow: 0 1px 0 #ccc,
				 0 2px 0 #c9c9c9,
				 0 3px 0 #bbb,
				 0 4px 0 #b9b9b9,
				 0 5px 0 #aaa,
				 0 6px 1px rgba(0,0,0,.1),
				 0 0 5px rgba(0,0,0,.1),
				 0 1px 3px rgba(0,0,0,.3),
				 0 3px 5px rgba(0,0,0,.2),
				 0 5px 10px rgba(0,0,0,.25),
				 0 10px 10px rgba(0,0,0,.2),
				 0 20px 20px rgba(0,0,0,.15);
}

hr {
	width: 50% ;
	border: 0 ;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ed858e, rgba(255, 255, 255, 0));
}

.container h1 {
	text-transform: uppercase;
}

.navbar {
    background-color: white;
    border: none;
	box-shadow: 0 8px 6px -6px;
	border:0;	
}

.navbar-brand {
    font-family: 'catamaran';
	font-weight: 900;
	color: #ed858e !important;  
}

.navbar-brand img {
	height:30px;
	width:200px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ed858e; 
}

.navbar-default .navbar-nav, .navbar-default .navbar-brand {
    color: #000;
}

.navbar .navbar-toggle .icon-bar {
	background-color: #ed858e;
  }

.active {
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
}

/* space between thumbnails and footer */
.wrapper {
	padding-bottom:120px;
	padding-top: 1px;

}

.container #content {
	padding-top: 100px;
}

.hovereffect {
	  width: 100%;
	  height: 100%;
	  float: left;
	  overflow: hidden;
	  position: relative;
	  text-align: center;
	  cursor: default;
	}

.hovereffect .overlay {
	  position: absolute;
	  overflow: hidden;
	  width: 80%;
	  height: 80%;
	  left: 10%;
	  top: 10%;
	  border-bottom: 1px solid #FFF;
	  border-top: 1px solid #FFF;
	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	  transition: opacity 0.35s, transform 0.35s;
	  -webkit-transform: scale(0,1);
	  -ms-transform: scale(0,1);
	  transform: scale(0,1);
	}

.hovereffect:hover .overlay {
	  opacity: 1;
	  filter: alpha(opacity=100);
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  transform: scale(1);
	}

.hovereffect img {
	  display: block;
	  position: relative;
	  -webkit-transition: all 0.35s;
	  transition: all 0.35s;
	}

.hovereffect:hover img {
	  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
	  filter: brightness(0.6);
	  -webkit-filter: brightness(0.6);
	}

.hovereffect h2 {
	  text-transform: uppercase;
	  text-align: center;
	  position: relative;
	  font-size: 17px;
	  background-color: transparent;
	  color: #FFF;
	  padding: 1em 0;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	  transition: opacity 0.35s, transform 0.35s;
	  -webkit-transform: translate3d(0,-100%,0);
	  transform: translate3d(0,-100%,0);
	}

.hovereffect a {
	font-size: 2rem;
	font-weight: bold;
}

.hovereffect a:hover {
	color: #ed858e;
}

.hovereffect a, .hovereffect p {
	  color: #FFF;
	  padding: 1em 0;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	  transition: opacity 0.35s, transform 0.35s;
	  -webkit-transform: translate3d(0,100%,0);
	  transform: translate3d(0,100%,0);
	}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
	  opacity: 1;
	  filter: alpha(opacity=100);
	  -webkit-transform: translate3d(0,0,0);
	  transform: translate3d(0,0,0);
	}

#footer {
	position: fixed-bottom;
	margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    color: #000;
    box-shadow:0px -4px 3px rgba(50, 50, 50, 0.50);
}
