/*------------------MY CODE---------------------*/
		body {
		    font-family: catamaran;
		}
		nav {
		    text-transform: uppercase;
		}

		.navbar {
		    background-color: white;
		    border: none;		}

		.navbar-brand {
		    font-family: catamaran;
		    font-weight: 900;
		}

		.jumbotron {
		    background-image: url("img/code.jpg");
 			background-size: cover;
		    color:#fff;
		    text-shadow: 1px 1px 8px #000;
		}

		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		    color: #ed858e; 
		}

		.navbar-default .navbar-nav, .navbar-default .navbar-brand {
		    color: #ed858e;
		}

