/*------------------MY CODE---------------------*/
		body {
		    font-family: catamaran;
		    background-color: #f1f1f1;
		}
		nav {
		    text-transform: uppercase;
		    margin-bottom: 0;
		}

		
		a {
			color: #ed858e;
			text-decoration: none;
		}

		.navbar {
		    background-color: white;
		    border: none;
			box-shadow: 0 8px 6px -6px;
			border:0;	
			margin-bottom: 0;
		}

		.navbar-default .navbar-nav, .navbar-default .navbar-brand {
		    color: #000;
		}

		.navbar-brand {
		    font-family: catamaran;
		    font-weight: 900;
		}

		.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		    color: #ed858e; 
		}

		.active, .btn:hover {
			 background-color: rgba(0, 0, 0, 0.1);
			 color: white;
		}

		header {
			border-top: solid 1em #ed858e;
			padding: 1em 0;
		}

		#footer {
			position:fixed;
		   left:0px;
		   bottom:0px;
		   height:30px;
		   width:100%;
		}

		