
/* MY CODE */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ed858e;
}

body {
  margin: 0 auto;
  display: block;
}

* {
  text-decoration: none;
}

a {
  color: #000;
}

a:hover {
  color: #e1dae5;
}

header {
  background-color: #fff;
  width: 100%;
  height: 100px;
}

header .header-logo {
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
}


.navbar {
  box-shadow: 0 8px 6px -6px;
  border:0;
}

.navbar-inverse {
  background:#513d5b;
}

.navbar-inverse .navbar-nav>li>a {
  color:#fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.contact-head {
    font-size: 3em;
}

.contact-greeting {
    text-align: center;
    padding-top: 50px;
    font-size: 2em;
    padding-bottom: 200px;
}

.wrapper {
  margin-top: 20px;
    width: 900px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px rgb(211,211,211);
          box-shadow: 0 0 10px rgb(211,211,211);
  }



input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #513d5b;
}

