body {
	padding-top: 70px;
}

a {
	color:#000;
}
#footer a:hover {
	color:#e1dae5;
	text-decoration: none;
}

.jumbotron {
	color:#513d5b;
	background:#e1dae5;
	width:100%;
}

.navbar {
	box-shadow: 0 8px 6px -6px;
	border:0;
}

.navbar-inverse {
	background:#513d5b;
}

.navbar-inverse .navbar-nav>li>a {
	color:#fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

#footer {
    position: fixed-bottom;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    color: black;
}

